<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1.0"
  >
  <title>Welcome to the Pixellab Builder</title>

</head>

<body>
  <header class="header">
    <%= require('html-loader!./html/header.html')%>
  </header>

  <main class="main">
    <header class="banner-main">
      <%= require('html-loader!./html/homepage/carousel.html')%>
    </header>

    <main class="content-main">
      <%= require('html-loader!./html/homepage/social.html')%>
      <%= require('html-loader!./html/homepage/store-locator.html')%>
      <%= require('html-loader!./html/homepage/payment.html')%>
    </main>
  </main>

  <footer class="footer">
    <%= require('html-loader!./html/footer.html')%>
  </footer>
</body>

</html>
